.nav--c {
  width: 100%;
  overflow: hidden;
  color: inherit;
  border-top: 0.125em solid currentColor;

  @include breakpoint(min, $smaller) {
    height: auto;
    padding-top: 0.625em;
  }
}

.nav--c-container {
  display: flex;
  padding: 0.5em;
}

.nav--c-container .logo {
  font-size: 1rem;
  flex-grow: 4;
  display: inline-block;
  text-transform: capitalize;
  letter-spacing: 0.05em;
}

.nav--c-container .logo a {
  display: block;
  max-width: 10em;
  height: 1.5em;
  padding-right: 0.625em;
  color: inherit;
  text-decoration: none;
}

.nav--c-container .logo-text {
  visibility: hidden;
  display: inline-block;

  @include breakpoint(min, 24.1875em) {
    visibility: visible;
  }
}

.nav--c-container .icon--logo {
  vertical-align: middle;
  margin-top: -0.35em;
}

.nav--c-menu {
  @include transition(background-color, 0.1s);
  display: inline-block;
  border: 0.0625em solid currentColor;
  padding-left: 0.3125em;
  padding-right: 0.3125em;
  cursor: pointer;

  @include breakpoint(min, $postSmaller) {
    display: none;
  }
}

.nav--c-menu:before {
  content: "Menu";
  color: inherit;

  @include breakpoint(max, 20em) {
    font-size: 0.75rem;
  }
}

.nav--c-form {
  display: flex;
  overflow: hidden;
  margin-right: 0.625em;
  border: 1px solid currentColor;

  @include breakpoint(min, $postSmaller) {
    margin-right: 0;
  }
}

.nav--c-form .btn {
  display: flex;
  border-color: transparent;
  padding-right: 0.5em;
  padding-left: 0.5em;
}

.nav--c-form .input {
  appearance: none; /* Remove default outline for input in safari webkit */
  padding-left: 0.3125em;
  padding-right: 0.3125em;
}

.nav--c-form .input:focus {
  outline: 0;
}

.nav--c-form .input:focus ~ .btn {
  background-color: currentColor;
}

.nav--c-form .input:focus ~ .btn .icon {
  color: var(--skin-default-fore);
}

.nav--c-list {
  overflow: hidden;

  @include breakpoint(max, $smaller) {
    @include transition(opacity, 0.8s);
    height: 0vh;
    opacity: 0;
    visibility: hidden;
  }
}

.nav--c-item {
  @include transition(opacity, 0.75s, ease);
  padding-top: 1.25em;
  opacity: 0;

  @include breakpoint(min, $postSmaller) {
    opacity: 1;
    display: inline;
    margin-right: 1.875em;
  }
}

.nav--c-item:nth-of-type(1) {
  transition-delay: 0.05s;
}

.nav--c-item:nth-of-type(2) {
  transition-delay: 0.1s;
}

.nav--c-item:nth-of-type(3) {
  transition-delay: 0.15s;
}

.nav--c-item:nth-of-type(4) {
  transition-delay: 0.2s;
}

.nav--c-item:nth-of-type(5) {
  transition-delay: 0.25s;
}

.nav--c-item:nth-of-type(6) {
  transition-delay: 0.3s;
}

.nav--c-item a {
  color: inherit;
  text-decoration: none;
  text-transform: capitalize;
}

/* Interaction states for nav--c-menu button */
.nav--c-menu:hover {
  background-color: var(--skin-default);
}

.nav--c-menu:hover:before {
  color: var(--skin-default-fore);
}

/* Interaction states for nav content in smaller viewports */
.nav--c--active .nav--c-menu {
  background-color: var(--skin-default);
}

.nav--c--active .nav--c-menu:before {
  content: "Close";
  color: var(--skin-default-fore);
}

.nav--c--active .nav--c-list {
  height: 100vh;
  opacity: 1;
  visibility: visible;
  background-color: #fff;
}

.nav--c--active .nav--c-item {
  opacity: 1;
}

/* Prevent background scrolling when nav modal is active */
main.nav--c--active {
  overflow: hidden;
}